<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingye.netzoo.zooapplication"
    android:versionCode="88"
    android:versionName="4.0.0.0">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".ZooApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bookregister.BookRegisterActivity"/>
        <activity android:name=".bookregister.CateRegisterActivity"/>
        <activity android:name=".bookregister.DocRegisterActivity"/>
        <activity android:name=".bookregister.RegisterDetailActivity"/>
        <activity android:name=".patient.PatientManageActivity"/>
        <activity android:name=".patient.PatientEditActivity"/>

        <activity android:name=".hospital.HospitalInfoActivity"/>
        <activity android:name=".hospital.HospitalGuideActivity"/>
        <activity android:name=".hospital.TitleImgActivity"/>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.UserRegisterActivity"/>
        <activity android:name=".login.ResetPasswdActivity"/>

        <activity android:name=".medicreport.ReportQueryActivity"/>

        <activity android:name=".outcall.OutcallDocActivity"/>
        <activity android:name=".outcall.DocDetailActivity"/>

        <activity android:name=".mycenter.SettingActivity"/>
        <activity android:name=".mycenter.MedicHistoryActivity"/>

    </application>

</manifest>